.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width:767px) {
    .form {
          grid-template-columns: 1fr;
    }
    
}

.form__input {
    border: 1px solid #ddd;
    padding: 10px;
}

.form__button {
    background-color: teal;
    color: #ffffff;
    border: none;
    padding: 10px;
    transition: 0.4s;
    cursor: pointer;
}

.form__button:hover {
    background-color: hsl(180, 100%, 35%);
    transform: scale(1.1);
}

.form__button:active {
    background-color: hsl(180, 100%, 40%);
}

