
.tasks__added {
    flex-grow: 1;
    text-align: left;
    word-break: break-word;
    padding-left: 5px;
}

.tasks__button {
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0px;
    transition: 0.4s;
    cursor: pointer;
}

.tasks__button--toggleDone {
    background: hsl(122, 65%, 29%);
}

.tasks__button--toggleDone:hover {
    background: hsl(122, 65%, 35%);
}

.tasks__button--toggleDone:active {
    background: hsl(122, 65%, 40%);
}

.tasks__button--remove {
    background: hsl(354, 84%, 54%);
}

.tasks__button--remove:hover {
    background: hsl(354, 84%, 60%);
}

.tasks__button--remove:active {
    background: hsl(354, 84%, 65%);
}

